/* 模态框样式 */
.box {
  width: 298px;
  margin: 50px auto;
  box-shadow: 0px 0px 1px 3px #aaa;
}
.title {
  width: 298px;
  height: 44px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f7f7f7;
}
.main {
  width: 298px;
  height: 145px;
  padding: 10px;
  box-sizing: border-box;
}
.main .bodytext {
  height: 32px;
  width: 230px;
  border: 1px solid #cbcbcb;
  display: block;
  margin: 20px auto;
  padding: 5px;
  box-sizing: border-box;
}
.main .okbtn {
  background-color: #0878d5;
  color: white;
  height: 31px;
  width: 60px;
  border: none;
  float: right;
  text-align: center;
  line-height: 31px;
}
.main .cancelbtn {
  background-color: #ddd;
  color: black;
  height: 31px;
  width: 60px;
  border: none;
  float: right;
  margin-left: 10px;
  text-align: center;
  line-height: 31px;
}
