html,
body {
  height: 100%;
  background-color: #ffa538;
}
::-webkit-scrollbar {
  display: none;
}
.header {
  background: #fff;
  width: 100%;
  height: 3.67rem;
  position: fixed;
  text-align: center;
  line-height: 3.67rem;
  top: 0;
  font-family: PingFangSC-Medium;
  font-size: 18px;
  color: #1C1C1C;
  letter-spacing: 0;
  z-index: 1000;
}
.header_left {
  /* position: absolute; */
  border-radius: 100px;
  float: left;
  /* float: left; */
  padding: 0.3rem 1.35rem;
}
.header_left img {
  height: 1.68rem;
}
.content {
  height: 100%;
  background: url('../img/未标题-1@2x.png') center top no-repeat #ffa538;
}
.content .portrait {
  height: 13.25rem;
  position: relative;
  font-size: 1.5rem;
  color: #764D1C;
  text-align: center;
  line-height: 26rem;
}
.content .portrait img {
  width: 5rem;
  position: absolute;
  left: 40%;
  top: 50%;
}
.record {
  margin: 3.08rem 1.67rem;
  background: #fff;
  border: 0.08rem solid #F6E8B7;
  border-radius: 0.92rem;
}
.record .title {
  background: url('../img/Group@2x.png');
  font-size: 1.5rem;
  color: #96551C;
  height: 3.67rem;
  line-height: 3.67rem;
  text-align: center;
}
.record ul {
  padding: 1.67rem;
  overflow: auto;
  height: 29.58rem;
}
.record ul li {
  padding-top: 1.67rem;
  height: 5.75rem;
  border-bottom: 1px solid #F3F3F4;
}
.record ul li .left {
  float: left;
}
.record ul li .left .txt {
  font-size: 1.17rem;
}
.record ul li .left .date {
  font-size: 0.38rem;
  color: #6D6D6D;
  margin-top: 0.42rem;
}
.record ul li .right {
  float: right;
  font-size: 1.67rem;
}
.record ul li .green {
  color: #8ECA70;
}
.record ul li .red {
  color: #F44D4E;
}
